{{ define "content" }}
<p class="editing">Editing "{{ .Post.Title }}"</p>
<form id="blog_post_form" action="/edit/{{ .Post.ID }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
    <textarea name="title" placeholder="Title">{{ .Post.Title }}</textarea>
    <textarea name="content" placeholder="Write something.">{{ .Post.Content }}</textarea>
    <div class="actions">
        <button type="submit" name="action" value="publish">{{ if .Post.Published }}Publish changes{{ else }}Publish{{ end }}</button>
        <button type="submit" name="action" value="draft">{{ if .Post.Published }}Convert to draft{{ else }}Update draft{{ end }}</button>
        <a class="btn" href="/delete/{{ .Post.ID }}">Delete</a>
    </div>
</form>
{{ end }}

{{ define "scripts" }}<script src="/static/script.js"></script>{{ end }}
{{ template "base" .}}
