{{ define "content" }}
<header>
    <h1>{{ .BlogName }}</h1>
    {{ if .IsAuthenticated }}
        <a id="new_post_btn" href="/new">&plus;</a>
    {{ end }}
</header>
<p>Subscribe to this blog via <a href="/feed">RSS</a>.</p>
{{ if .Intro }}
    <p class="intro">{{ .Intro }}</p>
{{ end }}
{{ if and .IsAuthenticated .Drafts }}
    <ul class="drafts">
        {{ range .Drafts }}
            <li><a href="/edit/{{ .ID }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
{{ end }}
<ul class="published">
    {{ range .Posts }}
        <li><a href="/{{ .Slug }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ template "base" . }}
