{{ define "content" }}
<header>
    <h1>Settings</h1>
</header>
<form action="/settings" method="post">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
    <label for="intro">Modify the introduction text for the home page below. Leave it empty to omit introduction text.</label>
    <textarea name="intro" id="intro" placeholder="Enter intro text for the home page.">{{ .Intro }}</textarea>

    <fieldset>
        <legend>Theme</legend>
        <label><input type="radio" name="theme" value="" {{if eq .Theme ""}}checked{{end}}>Light</label>
        <label><input type="radio" name="theme" value="blue" {{if eq .Theme "blue"}}checked{{end}}>Blue</label>
        <label><input type="radio" name="theme" value="sepia" {{if eq .Theme "sepia"}}checked{{end}}>Sepia</label>
    </fieldset>

    <fieldset>
        <legend>Font</legend>
        <label><input type="radio" name="font" value="" {{if eq .Font ""}}checked{{end}}>Courier</label>
        <label><input type="radio" name="font" value="monospace" {{if eq .Font "monospace"}}checked{{end}}>Monospace</label>
        <label><input type="radio" name="font" value="sans-serif" {{if eq .Font "sans-serif"}}checked{{end}}>Sans-serif</label>
    </fieldset>

    <div class="actions">
        <button type="submit">Save</button>
    </div>
</form>
{{ end }}

{{ define "scripts" }}<script src="/static/script.js"></script>{{ end }}
{{ template "base" . }}
